<div id="goose-link" class="g-alpha">

    <h1 id="link" class="g-heading">Link</h1>

    <!-- basic link -->
    <section>
        <h2 class="g-heading">Basic Link</h2>

        <gp-example-code>
            <gs-link href="http://www.google.com" label="Basic Link"></gs-link>
        </gp-example-code>

        <gp-code-highlight></gp-code-highlight>
    </section>

    <!-- router link -->
    <section>
        <h2 class="g-heading">Router Link</h2>

        <gp-example-code>
            <gs-link routerLink="/avatar/basic" label="Router Link"></gs-link>
        </gp-example-code>

        <gp-code-highlight></gp-code-highlight>
    </section>
</div>