<div id="helpers" class="g-alpha">

    <h1 class="g-heading">Helpers</h1>

    <p class="lead">Explaination of all our goose.helpers that will help aid in development of new and existing features.</p>


    <section>

        <h2 class="g-heading">Cookies</h2>

        <p>Goose uses cookies to help store and re-use data for other components options you have is settings, get and removing cookies .</p>
        <p>This can be used as a call function like onclick etc and also be used to store / fetch cookies on page load, document ready as well. Storing a cookie, if you leave the expire date blank it will default to 365 days</p>
        <gp-example-code class="g-hide">
            {{exampleCookie}}
        </gp-example-code>
        <gp-code-highlight></gp-code-highlight>

        <p>For full working example of the cookies, please check the <a href="#utilityslider">Utility Slider</a> demo and source code.</p>
    </section>

</div>
